{
  "bucket": "my-backups",
  "path": "/path/to/folder/with/files/to/backup",
  "mirrorPath": "/path/to/mirror/folder",
  "verbose": false,
  "extensions": [".iso", ".tar"],
  "compareDirectoriesCaseInsensitive": false
}